default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: applikey_blog_development
  username: postgres
  password: postgres

test:
  <<: *default
  database: applikey_blog_test

production:
  <<: *default
  database: applikey_blog_production
  username: applikey_blog
  password: <%= ENV['APPLIKEY_BLOG_DATABASE_PASSWORD'] %>
