# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2db88ac7fd5e538b0a3f6a6ee47aafd49a34dadbc672b040ad4420a8709f8dc7ce5010abd2759efa5d2b28ce73f7b5411c7f8d8b783d79f5a6189421902ffcd3

test:
  secret_key_base: f2b5eaeac921195ae46d6732aad59dee0ebc926beaf1a574cbc7d927c7aafa4c18ba8b45186d417446da4991f9b0781abbb98481e0169ac30e7c0e86afe4f827

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
